@font-face {
  font-family: "iconfont"; /* Project id 3319496 */
  src: url('iconfont.woff2?t=1649765490909') format('woff2'),
       url('iconfont.woff?t=1649765490909') format('woff'),
       url('iconfont.ttf?t=1649765490909') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remen:before {
  content: "\e728";
}

.icon-leibie:before {
  content: "\e6bd";
}

.icon-ic_calendar:before {
  content: "\e601";
}

.icon-zuozhe-:before {
  content: "\e655";
}

.icon-category:before {
  content: "\e608";
}

.icon-qiu:before {
  content: "\e636";
}

.icon-chakan:before {
  content: "\e69a";
}

.icon-didian:before {
  content: "\e667";
}

.icon-copyright:before {
  content: "\eb18";
}

.icon-beian:before {
  content: "\e6ad";
}

.icon-github:before {
  content: "\e709";
}

.icon-caozuo-wailian:before {
  content: "\e711";
}

